.post{
    & img,pre,iframe{
        width: 100vw;
        max-width: 60rem;
        transform: translateX(-50%);
        margin-left: 50%;
    }

    & h2,h3,pre,picture,ol{
        --flow:var(--space-xl); 
    }

    & blockquote{
        border-left: 4px solid var(--color-secondary);
        padding: var(--space-m);
        font-style: italic;
        background-color: hsl(var(--color-secondary-hsl), .2);
        
    }

    & .nota{
        background-color: hsl(var(--color-secondary-hsl), .2);
        padding-block: var(--space-2xs);
        padding-inline-start: var(--space-xl);
        padding-inline-end: var(--space-xs);
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 4px;
        font-size: var(--size--1);
        max-width: 90ch;

        &::before{
            content: '⚑';
            position: absolute;
            display: grid;
            left: 0;
            top: 0;
            place-items: center;
            width: 2rem;
            height: 100%;
            background-color: hsl(var(--color-secondary-hsl));
        }
    }
    & strong svg{
        vertical-align: sub;
    margin-right: .5rem;
    }
}