---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../layouts/Hero.astro";
import Nav from "../../components/Nav.astro";
import CardPost from "../../components/CardPost.astro";
import { getCollection } from "astro:content";
import Submit from "../../components/Submit.astro";
const allPosts = await getCollection("posts");
const description = 'Blog | Wilson Muñoz Castro, Front-end developer, designer, me gusta convertir diseños a código con HTML5, CSS3, JavaScript | Astro, React, Tailwindcss'
---

<Layout title="Blog" canonical="/blog" description={description}>
  <div class="hero-nav | container">
    <Hero title="Blog" />
    <Nav />
  </div>
  <div class="container mt-space-3xl">
    <h2 class="mb-space-xl"># Blog</h2>
    <ul role="list" class="blog-post | flow">
      {
        allPosts.map((post) => {
          return (
            <CardPost post={post}/>
          );
        })
      }
    </ul>
    <Submit/>
    
  </div>
</Layout>
