---
import Contact from "@components/Form.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@layouts/Hero.astro";
import Nav from "@components/Nav.astro";
const {canonicalURL} = Astro.props
---

<Layout title="Contact" canonical={canonicalURL} description="Formulario de contacto — Wilson Muñoz Castro">
    <div class="hero-nav | container">
        <Hero title="Contact" />
        <Nav />
    </div>
    <section class="container mt-space-3xl">
        <h2 class="mb-space-s"># Contacto</h2>
        <p>¿Tienes alguna pregunta, propuesta o simplemente quieres saludar? Déjame un mensaje y te responderé lo antes posible.</p>
        <Contact/>
    </section>
</Layout>
