html {
  //https://blog.jim-nielsen.com/2021/css-system-colors/
  //https://drafts.csswg.org/css-color-adjust-1/
  color-scheme: light dark;
}

body {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-size: var(--base);
  overflow-x: hidden;
  position: relative;
  background: Canvas;
  color: CanvasText;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    -webkit-mask-image: url('../assets/images/gradiente.png'), url('../assets/images/gradiente.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top right, bottom left;
    //-webkit-mask-image: linear-gradient(to top,transparent,50%,#fff,90%,transparent);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23475569' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    z-index: -1;
  }
}

h1,
h2 {
  line-height: 1.2;
  font-weight: var(--fw-bold);
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: var(--size-4);
  font-weight: 900;
}

h2 {
  font-size: var(--size-3);
}

h3 {
  font-weight: var(--fw-semiBold);
  font-family: system-ui, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

p,
li {
  max-width: 68ch;
  font-weight: var(--fw-regular);
}

p,
figcaption {
  line-height: 1.75;
  color: var(--color-txt, var(--color-slate-600));
}

h1 {
  max-width: 24ch;
}

h2,
h3 {
  max-width: 40ch;
}

a {
  color: currentcolor;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: currentColor;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

img {
  height: auto;
  color-scheme: light;
  filter: var(--filter-dark, initial);
}

*:focus-visible {
  outline: var(--color-secondary) auto 1px;
}

::selection {
  color: var(--color-slate-50);
  background: var(--color-secondary);
}

[astro-icon]:not([astro-icon="ion:open-outline"]) {
  width: 1.5rem;
  height: 1.5rem;
}

pre {
  padding: var(--space-s);
  border-radius: 4px;
}

p code,
li code {
  background: var(--color-slate-300);
  border-radius: 4px;
  padding: 0.2rem;
  color: var(--color-slate-950);
}
