---
import Layout from "../layouts/Layout.astro";
import CardProject from "../components/CardProject.astro";
import Hero from "../layouts/Hero.astro";
import Nav from "../components/Nav.astro";
const description = 'Wilson Mu침oz Castro, Front-end developer, designer, me gusta convertir dise침os a c칩digo con HTML5, CSS3, JavaScript | Astro, React, Tailwindcss'
const personal = 'Soy un apasionado Front-end Developer y Dise침ador y me encanta transformar conceptos de dise침o en c칩digo HTML, CSS3 y JavaScript, conbinarlas con tecnolog칤as modernas como Astro, React y Tailwind.'
---

<Layout title="Front End Developer | Designer" canonical='' description={description}>
  <div class="container">
      <Hero title="Hola!游녦, Soy Wilson" personal={personal}/>
      <Nav/>
    <h2 class="mt-space-3xl"># 칔ltimos Proyectos</h2>
    <CardProject quantity={-2} />
  </div>
</Layout>
