---
import Card from "./Card.astro";

const {quantity,project} = Astro.props
---

<div class="mt-space-xl">
  <ul role="list" class="card-project | d-grid">
    <Card quantity={quantity} project={project}/>
  </ul>
</div>
