---
import {logo} from  '../assets/icons'
---
<header class="head | container-lg py-space-l d-flex">
    <a href="/">
        <img src={logo.src} width={logo.width} height={logo.height} alt="Logo Wilson">
    </a>
  
        <small class="ml-space-m"><a href='/rss.xml'>RSS Feed</a></small>

</header>

<script>

</script>