---
import { navLink } from "../constant";
import { Icon } from "astro-icon";
---

<nav class="nav | mt-space-xl">
  <ul role="list" class="nav__list | d-flex">
    {
      navLink.map((link) => {
        return (
          <li>
            <a class="nav__link | border-animated d-flex px-space-3xs py-space-xs" href={`${link.href}/`}>
              <Icon name={link.icon} /> {link.label}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
<script>
  document.addEventListener('astro:page-load', () => {
  document.querySelectorAll(".nav__link").forEach((link) => {
      if ((link as HTMLAnchorElement).href === window.location.href) {
          link.classList.add("active");
          link.setAttribute("aria-current", "page");
      }
  });
})

</script>
