---
interface Props {
  prev: string | null;
  next: string | null;
}

const { prev, next } = Astro.props;
import { Icon } from 'astro-icon/components'
---

<div class="mt-space-l">
  {prev ? (
    <a class="d-flex" href={prev}>
      <Icon name="tabler:arrow-badge-left-filled"></Icon> Anterior
    </a>
  ) : null}
  {next ? (
    <a class="d-flex" href={next}>
      Siguiente <Icon name="tabler:arrow-badge-right-filled"></Icon>
    </a>
  ) : null}
</div>
