/* Typography */
$text-sizes: (
  "size--1": '--size--1',
  "base": '--base',
  "size-1": '--size-1',
  "size-2": '--size-2',
  "size-3": '--size-3',
  "size-4": '--size-4',
  "size-5": '--size-5',
);

/* Space */
$spaces: (
  "space-0": '--space-0',
  "space-auto": '--space-auto',
  "space-3xs": '--space-3xs',
  "space-2xs": '--space-2xs',
  "space-xs": '--space-xs',
  "space-s": '--space-s',
  "space-m": '--space-m',
  "space-l": '--space-l',
  "space-xl": '--space-xl',
  "space-2xl": '--space-2xl',
  "space-3xl": '--space-3xl',
);

/* Colors */
$primary: (
  "color-red": '--color-red',
  "color-primary": '--color-primary',
  "color-secondary": '--color-secondary',
);

/* Neutral */
$neutral: (
  'color-slate-50': '--color-slate-50',
  'color-slate-300': '--color-slate-300',
  'color-slate-600': '--color-slate-600',
  'color-slate-950': '--color-slate-950',
);
