@use "../01-abstracts/tokens" as color;

@each $class-name, $css-variable in color.$primary {
  //Background
  .bg-#{$class-name} {
    background-color: var(#{$css-variable});
  }
  .text-#{$class-name} {
    color: var(#{$css-variable});
  }
}

@each $class-name, $css-variable in color.$neutral {
  //Background
  .bg-#{$class-name} {
    background-color: var(#{$css-variable});
  }
  .text-#{$class-name} {
    color: var(#{$css-variable});
  }
}
