@use "../01-abstracts/tokens" as s;

@each $class-name, $css-variable in s.$spaces {
    // Margin
    .m-#{$class-name} {
      margin: var(#{$css-variable});
    }
    .mt-#{$class-name} {
      margin-top: var(#{$css-variable});
    }
    .mr-#{$class-name} {
      margin-right: var(#{$css-variable});
    }
    .mb-#{$class-name} {
      margin-bottom: var(#{$css-variable});
    }
    .ml-#{$class-name} {
      margin-left: var(#{$css-variable});
    }
    // Margin en bloque
    .my-#{$class-name} {
      margin-block: var(#{$css-variable});
    }
    // Margin en linea
    .mx-#{$class-name} {
      margin-inline: var(#{$css-variable});
    }

    // Padding
    .p-#{$class-name} {
      padding: var(#{$css-variable});
    }
    .pt-#{$class-name} {
      padding-top: var(#{$css-variable});
    }
    .pr-#{$class-name} {
      padding-right: var(#{$css-variable});
    }
    .pb-#{$class-name} {
      padding-bottom: var(#{$css-variable});
    }
    .pl-#{$class-name} {
      padding-left: var(#{$css-variable});
    }

    // Padding en bloque
    .py-#{$class-name} {
      padding-block: var(#{$css-variable});
    }

    // Padding en línea
    .px-#{$class-name} {
      padding-inline: var(#{$css-variable});
    }
}
