.container{
    max-width: 56.25rem;
    margin-inline: auto;
    padding-inline: var(--space-s);
}

.container-lg{
    max-width: 90rem;
    margin-inline: auto;
    padding-inline: var(--space-s);
}