@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2A2625;
}

h2 {
  font-size: 2rem;
  color: #C8C8C7;
  font-family: "neoterico";
}

@font-face {
  src: url("../fonts/NEOTERIC© - Bold DEMO VERSION.ttf");
  font-family: 'neoterico';
}

.container {
  width: calc(100% - 10rem);
  max-width: 71.5rem;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container {
    width: calc(100% - 3rem);
  }
}

div[class^="col-"] {
  padding: 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

/* --------------- Ej: -------------- */
/* --------- section header --------- */
.header {
  background-color: #2A2625;
  position: relative;
  margin-top: 10rem;
}

.header .content-float-menu {
  width: 100%;
  background: #AD343E;
  height: 100vh;
  transform: translateX(-100%);
  transition: .5s all;
  z-index: 105;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header .content-float-menu > span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #2a2625;
  right: 20px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  border-radius: 50px;
  transform: scale(0.8);
}

@media (min-width: 768px) {
  .header .content-float-menu > span {
    top: 50px;
    right: 50px;
    transform: scale(1);
  }
}

.header .content-float-menu span.header__bar {
  position: absolute;
  top: 28px;
  left: 11px;
}

.header__float-menu li a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-family: 'neoterico';
  padding: 2rem;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .header__float-menu li a {
    font-size: 3rem;
  }
}

.header__float-menu li a:hover::after {
  transform: scaleX(1);
}

.header__float-menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  transform: scaleX(0);
  transition: .3s all;
}

.header__float-menu span.header__bar {
  position: absolute;
  right: 24px;
  top: 43px;
}

.header .active {
  transform: translateX(0);
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: .5s;
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
}

.header .nav-active {
  background: #AD343E;
  box-shadow: 0 3.2px 2.8px rgba(0, 0, 0, 0.1), 0 7.8px 6.7px rgba(0, 0, 0, 0.072), 0 14.7px 12.5px rgba(0, 0, 0, 0.06), 0 26.1px 22.3px rgba(0, 0, 0, 0.051), 0 48.9px 41.8px rgba(0, 0, 0, 0.041), 0 117px 100px rgba(0, 0, 0, 0.029);
  transition: .5s;
  padding: .5rem 0;
}

.header__logo {
  width: 5rem;
}

.header__list {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: none;
}

@media (min-width: 768px) {
  .header__list {
    display: block;
    text-align: center;
  }
}

.header__list li {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}

@media (min-width: 768px) {
  .header__list li {
    width: auto;
    display: inline-block;
  }
}

.header__list li a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: 'neoterico';
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  width: 100%;
  position: relative;
}

.header__list li a.a-active::after {
  transform: scaleX(1);
}

.header__list li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background: white;
  bottom: 0;
  transform: scaleX(0);
  transition: .3s all;
}

@media (min-width: 768px) {
  .header__list li a {
    padding: 1.2rem 1rem;
    width: auto;
  }
}

@media (min-width: 992px) {
  .header__list li a {
    padding: 1.2rem 2rem;
  }
}

.header__hamburguer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.header__bar {
  width: 2.5rem;
  height: 0.25rem;
  background-color: white;
  display: inline-block;
  position: relative;
  transition: .2s all;
}

.header__bar::after {
  content: '';
  width: 2.5rem;
  height: 0.25rem;
  position: absolute;
  top: .8rem;
  background-color: white;
  transition: .3s all;
}

.header__bar::before {
  content: '';
  width: 2.5rem;
  height: 0.25rem;
  position: absolute;
  top: -.8rem;
  background-color: white;
  transition: .3s all;
}

.header__bar.toggle {
  background: rgba(0, 0, 0, 0);
}

.header__bar.toggle::before {
  transform: rotate(135deg);
  top: 0;
}

.header__bar.toggle::after {
  transform: rotate(45deg);
  top: 0;
}

.header__name-wilson img, .header__portada img {
  width: 100%;
}

.header__name-wilson {
  width: 7.5rem;
  top: 0;
}

@media (min-width: 768px) {
  .header__name-wilson {
    width: 14.5rem;
  }
}

.header__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 30px 0 0 0;
}

.header__portada {
  width: 18.75rem;
  right: 0;
  top: 190px;
}

@media (min-width: 768px) {
  .header__portada {
    width: 30.75rem;
  }
}

@media (min-width: 992px) {
  .header__portada {
    width: 40.75rem;
  }
}

.header__portada p {
  font-family: "neoterico";
  color: #C8C8C7;
  font-size: 1rem;
  text-align: right;
  letter-spacing: 3px;
  padding: 1rem 0;
}

.header__portada p span {
  display: none;
}

@media (min-width: 768px) {
  .header__portada p {
    font-size: 1.5rem;
  }
  .header__portada p span {
    display: inline-block;
  }
}

.services {
  background-color: #2A2625;
  padding: 2rem 0;
}

.services .row {
  justify-content: center;
  font-family: "neoterico";
}

.services__card-description {
  font-size: 1rem;
  color: #C8C8C7;
  text-align: center;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  .services__card-description {
    font-size: 1.2rem;
  }
}

.services__card-title {
  font-size: 2rem;
  color: #C8C8C7;
  text-align: center;
}

@media (min-width: 768px) {
  .services__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
}

.services__card img {
  width: 180px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.services__card-img:hover {
  -webkit-animation: 1s service 1;
          animation: 1s service 1;
  transform-origin: top center;
}

@-webkit-keyframes service {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-3deg);
  }
}

@keyframes service {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-3deg);
  }
}

.about {
  padding-bottom: 4rem;
  font-family: sans-serif;
}

.about .row {
  padding-top: 6rem;
}

.about__title {
  text-align: center;
}

.about__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 1 100%;
  padding-top: 1rem;
}

.about__img {
  width: 100%;
}

.about__img img {
  width: 100%;
}

@media (min-width: 768px) {
  .about__img {
    width: 80%;
  }
}

.about__skills {
  color: #C8C8C7;
}

.about__skills h3 {
  font-size: 1.5rem;
  padding: .5rem 0;
}

.about__skills p {
  font-size: 1.2rem;
}

.about__experience {
  text-align: start;
  letter-spacing: 1px;
}

.about__progress {
  width: 100%;
  height: 1rem;
  background-color: #C8C8C7;
  margin: 2.5rem 0;
  position: relative;
}

.about__progress :first-child {
  position: absolute;
  top: -1.2rem;
  color: #C8C8C7;
  text-transform: uppercase;
}

.about__progress :nth-child(2) {
  position: absolute;
  top: -20px;
  color: #C8C8C7;
  opacity: 0;
  transition: 2s all;
}

.about__progress-done {
  height: 100%;
  width: 0;
  opacity: 0;
  background: linear-gradient(270deg, #240000 0%, #ad3430 0%, #2a2625 100%);
  transition: 2.5s ease;
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 50%;
  }
}

.title-section {
  position: relative;
  display: inline-block;
}

.title-section::after {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #AD343E;
  position: absolute;
  top: 16px;
  right: -100px;
}

.title-section::before {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #AD343E;
  position: absolute;
  top: 16px;
  left: -100px;
}

.porfolio {
  background: url(../images/bg-porfolio.svg) 300% 2%/75% no-repeat, url(../images/bg-porfolio-2.svg) -3% 100% no-repeat;
  padding-top: 7.5rem;
}

@media (min-width: 768px) {
  .porfolio {
    background: url(../images/bg-porfolio.svg) 160% 3% no-repeat, url(../images/bg-porfolio-2.svg) -3% 100% no-repeat;
  }
}

@media (min-width: 992px) {
  .porfolio {
    background: url(../images/bg-porfolio.svg) 120% 0% no-repeat, url(../images/bg-porfolio-2.svg) -3% 100% no-repeat;
  }
}

.porfolio__link {
  display: block;
  position: relative;
}

.porfolio__link::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .5s all;
  transform: scale(1);
  opacity: 1;
  transform-origin: right bottom;
}

.porfolio__link:hover::after {
  content: '';
  transform-origin: bottom right;
  transform: scale(0);
}

.porfolio__link img {
  width: 100%;
}

@media (min-width: 768px) {
  .porfolio__link {
    padding: 0.3125rem;
  }
}

.porfolio__link .fa-share {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.5rem;
  color: #C8C8C7;
  z-index: 5;
  transition: .3s all;
}

.porfolio__link .fa-share::after {
  content: '';
  right: -8px;
  bottom: -8px;
  position: absolute;
  width: 40px;
  height: 41px;
  background-color: #2A2625;
  z-index: -1;
  border-radius: 50px;
  box-shadow: 3px 2px 6px 0px #2A2625;
}

.porfolio__link:hover .fa-share {
  color: white;
  box-shadow: #C8C8C7;
}

.porfolio__content {
  text-align: center;
  margin-bottom: 2rem;
}

.porfolio__content .row {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .porfolio .row .col-12.col-md-porfolio {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .col-md-porfolio {
    flex: 0 1 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-porfolio {
    flex: 0 1 33.33%;
  }
}

.contacto {
  text-align: center;
  background: url(../images/bg-contacto.svg) 155% 0%/40% no-repeat;
  padding-top: 6rem;
}

@media (min-width: 768px) {
  .contacto {
    background: url(../images/bg-contacto.svg) 130% 80%/30% no-repeat;
  }
}

.contacto__form {
  border: 2px solid #C8C8C7;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .contacto__form {
    display: flex;
    flex: 0 1 100%;
  }
}

.contacto__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .contacto__info {
    width: 45%;
  }
}

.contacto__info h3 {
  font-size: 2rem;
  font-family: "neoterico";
  text-transform: uppercase;
  color: white;
  padding: 3rem;
}

.contacto__form-info {
  background-color: white;
}

@media (min-width: 768px) {
  .contacto__form-info {
    width: 55%;
  }
}

.contacto__form-info h3 {
  font-size: 1.5rem;
  color: #2A2625;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "neoterico";
  padding-top: 2.2rem;
}

.contacto__inputs {
  padding: 1rem 0;
  overflow: hidden;
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .contacto__inputs {
    margin: 0 3rem;
  }
}

.contacto__camp {
  position: relative;
  height: 75px;
  width: 100%;
}

.contacto__camp input {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  left: 0;
  padding-top: 1.5rem;
  outline: none;
}

.contacto__camp-textarea {
  position: relative;
  height: 7.5rem;
  width: 100%;
}

.contacto__camp-textarea textarea {
  width: 100%;
  max-height: 100%;
  border: none;
  position: absolute;
  padding-top: 6rem;
  left: 0;
  outline: none;
}

.contacto input:focus + .contacto__label span, .contacto input:valid + .contacto__label span {
  transform: translateY(-200%);
  font-size: .8rem;
}

.contacto textarea:focus + .contacto__label span, .contacto input:valid + .contacto__label span {
  transform: translateY(-200%);
  font-size: .8rem;
}

.contacto input:focus + .contacto__label::after, .contacto input:valid + .contacto__label::after, .contacto textarea:focus + .contacto__label::after, .contacto input:valid + .contacto__label::after {
  transform: translateX(0);
}

.contacto__label {
  position: absolute;
  z-index: 1;
  left: 0;
  font-family: "neoterico";
  font-size: 1rem;
  color: #2A2625;
  letter-spacing: 2px;
  border-bottom: 1px solid #AD343E;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.contacto__label::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #2A2625;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: translateX(-100%);
  transition: .3s all;
}

.contacto__label span {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: .3s all;
}

@media (min-width: 768px) {
  .contacto__btn {
    display: flex;
    justify-content: flex-end;
  }
}

.contacto__btn button {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: .8rem;
  border: none;
  background: #2A2625;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8rem;
  font-family: "neoterico";
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease;
}

.contacto__btn button:hover {
  background-color: black;
}

@media (min-width: 768px) {
  .contacto__btn button {
    display: inline-block;
    width: 30%;
  }
}

.footer {
  background-color: #AD343E;
  margin-top: 4rem;
}

.footer__logo {
  width: 100%;
  margin: auto;
  padding: 2rem 0 .5rem;
  border-bottom: 2px solid white;
}

.footer__logo img {
  display: block;
  width: 50px;
  margin: auto;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
}

.footer__social-media p {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  padding: .5rem 0;
}

@media (min-width: 768px) {
  .footer__social-media {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__icon {
  display: flex;
  justify-content: space-between;
}

.footer__icon a {
  position: relative;
  color: white;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  transition: .5s;
}

.footer__icon a::before {
  content: '';
  position: absolute;
  background-color: #2A2625;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50px;
  z-index: -1;
  transform: scale(0);
  transition: .5s;
}

.footer__icon a:hover::before {
  transform: scale(1);
}

.footer__arrow {
  position: fixed;
  right: -12px;
  z-index: 4;
  top: 75%;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  visibility: hidden;
  transition: 1s all;
  opacity: .5;
}

@media (min-width: 768px) {
  .footer__arrow {
    position: fixed;
    right: 50px;
    z-index: 4;
    top: 75%;
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    cursor: pointer;
  }
}

.footer .arrow-up {
  visibility: visible;
}
