.nav {
  grid-area: nav;

  &__list {
    --gutter: var(--space-m);
    font-family: system-ui, sans-serif;
  }

  &__link {
    text-decoration: none;
    --gutter: var(--space-3xs);
    font-weight: var(--fw-semiBold);
    text-transform: capitalize;
  }

}

.active[aria-current="page"],
.active {
  background-size: 100% 4px;
}