@use '../01-abstracts' as ab;

.submit{
    --a-vertical:stretch;
    --gutter:var(--space-s);
    @include ab.breakpoint(sm){
    --gutter:0;
    }
    &__input-mail,&__button,textarea{
        padding-inline:var(--space-xs);
        padding-block: var(--space-xs);
        border-radius: 4px;
    }
    &__input-mail,textarea{
        flex-grow: 1;
        flex-basis: ab.px-to-rem(400px);
        border: none;
        border: 1px solid var(--color-slate-600);
        border-radius: 4px;

    }

    &__button{
    flex-grow: 1;
    border-radius: 4px;
    &:hover{
        background-color: var(--color-redDark);
    }
    }
}